/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
resources/views/Admin/home.blade.php
resources/views/Admin/home.blade.php
resources/views/layouts/app.blade.php
resources/views/student/studentHome.blade.php
